*{
    margin: 0;
    padding: 0;
}

body {
    background-image: url('images/bg-header-mobile.png') ;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: 100vw;
    font-family: "Bai Jamjuree", "Titillium Web";
    text-align: center;

}

h1 {
    font-size: 32px;
    color: #4c545c;
    letter-spacing: -0.52px;
    margin: 64px 0 16px;
    font-weight: 600;
}

h2 {
    font-size: 28px;
    color: #4c545c;
    letter-spacing: -0.46px;
    font-weight: 600;
    
}

h3 {
    color: #4c545c;
    font-size: 24px;
    letter-spacing: -0.39px;
    font-weight: 600;
}

p {
    color: #9eabb2;
    letter-spacing: 0.12px;
    line-height: 26px;
}

/*header*/

header {
    display: flex;
    justify-content: center;
    margin: 132px 32px 0;
    flex-direction: column;
    align-items: center;
}

header h2 {
    margin: 64px 0 16px;
}

header img {
    width: 125px;
}


header div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 100%;
    margin-top: 48px;
    padding-bottom: 20px;
    display: flex;

}

.ios{
    background-color: #26bba4;
    box-shadow: 0 10px 20px 0 rgba(137, 229, 199, 0.5), inset 0 -3px 0 0 rgba(0, 0, 0, 0.15);;
}

.mac{
    background-color: #6174ff;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1), inset 0 -3px 0 0 rgba(0, 0, 0, 0.15);
}

header div button {
    width: 100%;
    padding: 13px 50px;
    border: none;
    border-radius: 28px;
    font-size: 18px;
    color: white;
    letter-spacing: 0.5px;
    font-family: "Bai Jamjuree", "Titillium Web";
    display: inline-block;
}

/*main*/
main {
    margin: 140px 32px 0;
    
}

main h2 {
    margin-bottom: 16px;
}


/*top section*/

.topSectionDiv {
    margin: 56px 0 48px
}

.topSection img {
    max-width: 100%;
}

.description {
    display: flex;
    gap: 48px;
    flex-direction: column;
    margin-top: 56px;
}

.description h3 {
    margin-bottom: 10px;
}

/*middle top section*/
.middleTopSection{
    margin-top: 186px;
    margin-bottom: 131px;
}

.middleTopSection img {
    max-width: 100%;
    margin-top: 65px;
}

.middleTopSection h2 {
    margin-bottom: 16px;
}

/*middle bottom section*/
.middleBottomSection {
    margin-bottom: 132px;
}

.advantages {
    display: flex;
    flex-direction: column;
    gap: 56px;
    margin-top: 90px;
}

.advantages h3 {
    margin: 40px 0 18px;
}

.logoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:57px;
    margin-top: 132px;
}

/*bottom section*/

